# Node modules
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Prisma
prisma/dev.db
prisma/*.sqlite

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Misc
*.local
.idea/
*.swp 